.homepage {
    display: flex;
    flex-direction: column;
    margin-top: -8rem;
    font-size: 1.25rem;
    .home {
        img {
           width: 100vw;
           padding-bottom: 10px;
           background-size: cover; 
        }
        p {
            margin-top: -12rem;
            color: white;
            line-height: 2rem;
            margin-bottom: 8rem;
        }
        flex: 1;
        align-self: center;
    }
    .content {
        flex: 1;
        padding: 3rem;
        line-height: 0.7rem;
        font-family: 'Poppins';
        .loan, .borrow, .mentor-home {
            text-align: left;
            line-height: 1.25rem;
            .line {
               background-color: var(--red); 
               height: 2px;
               width: 20vw;
               margin-bottom: 2rem;
            }
            h1, h2 {
                font-weight: 300px;
                line-height: 2rem;
            }
            p{
              margin-bottom: 2rem;
            }
            img{ 
                float: right;
                width: 50vw;
                max-width: 30vw;
            }
        }
        .loan {
            margin-bottom: 10rem;
        }
        .borrow {
            text-align: left;
            padding-bottom: 8rem;
            .line {
                float: left;
                margin-bottom: 0.5rem;
            }
            img{ 
                float:left;
                width: 50vw;
                padding-right: 10rem;
            }
        }
        .mentor-home {
            .line {
                margin-bottom: 0;
            }
        }
        .change {
            color: var(--blue); 
        }
        button {
           background-color: var(--blue); 
           border-radius: 5px;
           outline: none;
           color: white;
           padding: 20px;
        }
    }
}
#btn{
    background-color: var(--red); 
           border-radius: 70px;
           outline: none;
           color: white;
           padding: 10px;
           

}
#btn2{
    background-color:transparent; 
           margin-left: 1%;
           border-radius: 70px;
           border-color: var(--red);
           outline: none;
           color: white;
           padding: 10px;
           

}
// @media all and (max-width: 800px) {
    //     display: flex;
    //     flex-direction: column;
// }

