.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem; 
    background-color: var(--blue);
    height: 30vh;
    width: 100vw;
    padding-bottom: 3rem;
    .imageLink {
        justify-self: flex-start;
        img{ 
            padding: 3rem;
        }
    }
    .menu {
        justify-self: right;
        padding-right: 3rem;
        span {
            font-size: 1.5em;
        }
    }
}

.k-menu-link {
    color: gray;
    font-size: 16px;
}