.mentors {
    display: grid; 
    grid-template-columns: repeat(auto-fill,200px); 
    grid-gap: 20px;
    margin-bottom: 6rem;
    justify-content: center;
    .k-card {
        padding: 0rem 2rem;
        display: grid; 
        grid-template-columns: 1fr;
        justify-items: center;
        .k-card-title {
            margin: 0;
            margin-bottom: 1rem;
        }
        .k-card-image {
            margin-top: 1rem;
            border-radius: 50%;
            flex-grow: 1; 
            flex-shrink: 1; 
            flex-basis: auto;
        }
        .k-card-body {
            margin-bottom: 1rem;
            flex: 1; 
            p {
                font-weight: bold;
                margin-bottom: 1rem;
            }
        }
        .k-progressbar {
            display: none;
        }
    } 
}

