.causes {
    display: grid; 
    grid-template-columns: repeat(auto-fill,200px); 
    grid-gap: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.k-card {
    display: flex;
    align-items: center;
    padding: 2rem;
    .k-card-image {
        margin-bottom: 1rem;
        height: 20vh;
        width: auto;
    }
    .k-card-title {
        color: #0047FF;
        font-weight: lighter;
        text-align: center;
        p {
            margin-left: 0.5rem;
            color: black;
            font-weight: bolder;
            display: inline-block;
        }
    }
    .k-card-actions {
        button {
            border-radius: 10px;
            border-color: var(--red);
            border-width: thin;
            border-style: solid;
            outline: none;
            padding: 0.25rem;
            color: var(--red); 
            background-color: white;
            
        }
    }
    .k-card-body {
        padding: 0;
    }
    .k-progressbar {
        max-width: 20vw; 
        margin: 1rem 0rem;
    }
}

